[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=gbackgroundwed
Icon=/usr/share/pixmaps/gbackgroundweb.svg
Comment=Fondo Intitucional (gbackgroundweb)
Exec=su-to-root -X -c /usr/bin/gbackground_web
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Settings
StartupNotify=False
Name[es_VE]=Fondo institucional
