[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=gbackgroundwed
Icon=/usr/share/icons/canaima-iconos/apps/48/gnome-display-properties.png
Comment=Fondo Intitucional CNTI (gbackgroundweb)
Exec=/usr/bin/gbackground_web
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Settings
StartupNotify=False
Name[es_VE]=Fondo institucional CNTI
