[Desktop Entry]
Name=gbackgroundweb
Name[es]=Fondo Intitucional (Iniciar - Fondo de Pantalla)
Comment=Setup the compatibility layer for Windows programs
Comment[es]=Inicia el control del fondo del escritorio
Exec=/usr/bin/gbackground_web
Icon=/usr/share/pixmaps/gbackgroundweb.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;
